<div id='phpviewlogpanel' class='bottom-panel' >
	<div class="toolbar simple-toolbar-layout">

		<div class="row-fluid">
			<div class="span2">
				<label class="title">PHP Watch</label>
			</div>

			<div class="offset7 span2 ">

			</div> <!-- .spans -->


			<a href="#" id="phpwatch-close" class="pull-right">&times;</a>
		</div> <!-- .row-fluid -->

	</div> <!-- .toolbar .simple-toolbar-layout -->

	<div id="phpview-logevents" class="resizable-content" style='overflow-y: scroll;'></div>

</div>
